html, body{
    height: 100%;
}
body{
    margin:0px; 
    background-image: url("Galaxy-stars.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
}
#MainDiv
{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    height:100%;
}


#H1{
    margin: 3%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
    color: white;
    letter-spacing: 2px;
}

#ImgBall
{
    width: 30%;
    cursor: pointer;
}

#InputQuestion{
    width: 20%;
    height: 5%;
    margin: 3%;

    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    border-radius: 20px;
    border: 0px;
    text-align: center;
}

#PAnswer{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    
    z-index: 999;
    position: absolute;
    top: 48%; left: center;  

}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(5px); }
}

.shake-animation {
    animation: shake 0.5s 4;
}